
  <div [ngClass]="{
    'ui': true,
    'login': true,
    'form': true,
    'pushDown': true,
    'success': getMsg(),
    'error' : !getMsg()
    }">
    <h2 class="login-header">Log in</h2>
    <form [formGroup]="this.loginForm" (ngSubmit)="login()">
  
      <div class="field">
        <label class="mid">E-mail</label>
        <input type="email" placeholder="jim@jam.com" formControlName="email">
      </div>
        
      <div class="field">
        <label class="mid">Password</label>
        <input type="password" placeholder="not1234" formControlName="password">
      </div>

      <div class="ui error message">
          <p class="mid">Currently not signed in</p>
      </div>

      <div class="ui success message">
          <div class="header mid">Successful signIn</div>
          <p class="mid">You have passsed the first test, enter if you dare!</p>
      </div>
  
      <div class="jc-mid">
          <input class="ui submit green button" type="submit" value="Log in">
      </div>
        
    </form>
  </div>
