
<!-- Business Card layout-->
<div class="ui two column grid">
    <div class="row">
            <div class="column pushRight jc-border jc-mid">
                    <div class="header ">Business Card#{{i + 1}} </div>
                    <div class="item">UID: {{ bCard.id }} (for testing) </div>
                    <div class="item">firstName: {{bCard.firstName }} </div>
                    <div class="item">lastName: {{bCard.lastName }} </div>
                    <div class="item">email: {{bCard.email }}</div>
                    <div class="item">additonal Info: {{bCard.info }}</div>
                    <div class="item">phone#: {{bCard.phoneNumber }}</div>
                    
                    <span>
                        <button class="ui button" (click)="editMode()">Edit</button>
                        <button class="negative ui button" (click)="deleteCard()">Delete</button>
                    </span>
            </div>
                  
            <div class="column  pushRight jc-border" *ngIf="showForm()" >
                <h2 class="login-header">Business Card</h2>
                <form [formGroup]="this.dataBaseService.cardForm" (ngSubmit)="finishEdit()">
                                
                    <label>Name</label>
                    <div class="two fields">
                        <input type="text" placeholder="FirstName" formControlName="firstName">
                        <input type="text" placeholder="LastName" formControlName="lastName">
                    </div>
                                        
                    <div class="field">
                        <label>E-mail</label>
                        <input type="text" placeholder="email address" formControlName="email">
                    </div>
                                      
                    <div class="field">
                        <label>Additional Info</label>
                        <input type="text" placeholder="call or text Me" formControlName="info">
                    </div>
                                    
                    <div class="field">
                        <label>Phone #</label>
                        <input type="text" placeholder="773-555-1234" formControlName="phoneNumber">
                    </div>
                                
                    <div class="jc-mid">
                        <input class="ui submit green button" type="submit" value="Done">
                    </div>
                            
                </form>
                
            </div>
              
    </div>    

</div>
    
    
<div class="ui section divider"></div>

