
<!-- Business Card layout-->
<div class="ui two column grid">
    <div class="row">
            <div class="column pushRight jc-border jc-mid">
                    <div class="header ">Business Card#{{i + 1}} </div>
                    <div class="item">UID: {{ bCard.id }} (for testing) </div>
                    <div class="item">firstName: {{bCard.firstName }} </div>
                    <div class="item">lastName: {{bCard.lastName }} </div>
                    <div class="item">email: {{bCard.email }}</div>
                    <div class="item">additonal Info: {{bCard.info }}</div>
                    <div class="item">phone#: {{bCard.phoneNumber }}</div>
                    
                    <span>
                        <button class="ui button" (click)="editMode()">Edit</button>
                        <button class="negative ui button" (click)="deleteCard()">Delete</button>
                    </span>
            </div>
                  
            <div class="column  pushRight jc-border" *ngIf="showForm()" >
                <card-form></card-form> 
            </div>
              

    </div>    

</div>
    
    
<div class="ui section divider"></div>

