<h1>Welcome to the Business Cards App!</h1>
<div id="content">
  <div>
    <router-outlet></router-outlet>
    <!-- Components shown here-->
  </div>

  <!-- Active after succesful login, this cascades and unlocks the Card Routes-->
  <div class="ui horizontal list" *ngIf="getState() > 0">

    <!-- didLogin is false initially so we see these only after succesful login-->
    <div class="item" *ngIf="getState() == 1 || 3">
      <a (click)="changeState(2)" class="jc" [routerLink]="['/newCard']">Create New BusinessCard</a>
    </div>

    <div class="item" *ngIf="getState() == 1 || 2">
        <a (click)="changeState(3)" class="jc" [routerLink]="['/list']"> View BusinessCards </a>
    </div>
  
    <div class="item">
      <a (click)="logOut()" class="jc" [routerLink]="['/login']">Logout</a>
    </div>

  </div>

</div>
