<h1 class="jc-mid">Welcome to the Business Cards App!</h1>

<!-- Active after succesful login, this cascades and unlocks the Card Routes-->
<div class="ui three item menu">

    <a class="item" [routerLink]="['/newCard']">
      Create New BusinessCard
    </a>

    <a class="item" [routerLink]="['/list']">
       View BusinessCards
    </a>

    <a (click)="logOut()" class="item" [routerLink]="['/login']">
      Logout
    </a>

</div>

<div id="content">
  <div>
    <router-outlet></router-outlet>
    <!-- Components shown here-->
  </div>

</div>
