<p>new-business-card</p>

<!-- need to work on forms -->
<!-- ngModel, 2 way binding ng-book pg 184 -->
<div class="login">
    <form [formGroup]="this.dataBaseService.cardForm" class="login-container" (ngSubmit)="onSubmit()">
        <p>
            <input type="firstName" placeholder="FirstName" formControlName="firstName">
        </p>
            
        <p>
            <input type="lastName" placeholder="LastName" formControlName="lastName">
        </p>
            
        <p>
            <input type="email" placeholder="email address" formControlName="email">
        </p>
            
        <p>
            <input type="info" placeholder="Additional Info" formControlName="info">
        </p>
            
        <p>
            <input type="phoneNumber" placeholder="Phone #" formControlName="phoneNumber">
        </p>
        
        <p>
                <input type="submit" value="Add Card">
        </p>

    </form>

</div>


