/* You can add global styles to this file, and also import other style files */
.jc-container {
  margin-left: 70%;
}

.jc-column {
  float: left;
  padding: 10px;
  width: 30%;
}


.pushDown{
  padding-top: 20px;
}

.pushRight{
  padding: 20px;
  width: 30%;
  margin: auto;
}

.jc {
    background-color: deepskyblue;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }

  .jc-border {
    border-style: solid;
    border-color: #555;
  }

  .jc-mid {
    text-align: center;
    margin: auto;
  }

  .cam {
    float: left;
    padding: 10px;
    width: 35%;
  }

  .card {
    width: 300px;
    margin: 16px auto;
    font-size: 16px;
  }

  .login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
  }

  .login-header {
    background: #28d;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

 
  